mainsite/search/Templates/search/package.json linguist-vendored=false
mainsite/search/Templates/search/package-lock.json linguist-vendored=false
mainsite/search/Templates/search/webpack.config.js linguist-vendored=false
mainsite/search/Templates/search/.babelrc linguist-vendored=false
mainsite/search/Templates/search/src/client/public/* linguist-vendored=false
CourseSyllabus/* linguist-vendored