{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <title>About Page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../../static/about_page/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-style">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-brand-text" href="#">
        <img src="../../static/owl.png" width="30px" height="50px" style="margin: 10px">
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a class="nav-link" href="/search/searching">Search for Syllabi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../homeapp/">Dashboard<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../logout/">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="statsDropDown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Statistics</a>
                <div class="dropdown-menu" aria-labelledby="statsDropDown">
                    <a class="dropdown-item" href="../stats">Overall Statistics</a>
                    <a class="dropdown-item" href="../stats/university">University Statistics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../stats/analyze">University Analysis</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<div class="container mt-5">
        <div class="jumbotron" style="background:transparent !important;padding-top: 0px;padding-bottom: 0px;">
            <h1 class="display-3 jumbotron-font-text">About this website</h1>
            <!--<p class="lead"></p>-->
            <hr class="my-2">
            <p>A little info about our website.</p>
        </div>
    </div>
<div class="container">
    <div class="row" style="margin-top: -60px">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-responsive img-thumbnail img-rounded inline-block" src="{% static "about_page/owl.png" %}" alt="">
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title text-center display-4">Purpose</h4>
                            <p class="card-text">The computer science faculty values free exchange of ideas,
                                availability of open source software, open publications, exchange of pedagogical
                                advances, etc. Yet, upon entering the website of a particular institution understanding
                                the graduation requirements is often a real challenge and tracking the syllabus of a
                                specific course can be a daunting undertaking. The goal of this project is to create an
                                international repository of computer science course syllabi to assist students in making
                                good educational choices, instructors in sharing best practices, and education
                                researchers in understanding the evolution of our field.</p>
                            <br>
                            <br>
                            <p class="card-text">We chose an Owl for our logo as they are synonymous wih wisdom and
                                knowledge throughout history.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container mt-4">
            <h5 class="display-4">Acknowledgement</h5>
            <p>We would like to thank our sponsor, Dr. Gruia-Catalin Roman, University of New Mexico, for taking the time
                to be the sponsor for this project. His guidance and insights helped us bring this project to life. The
                whole project was an idea of his.</p>
            <p>We would also like to acknowledge Arizona State University and faculty for giving us an opportunity to
                work on this project.
            <p>
        </div>
        <div class="container mt-4 mb-4">
            <h5 class="display-4">Credit</h5>
            <p>We would like credit the following languages, libraries and frameworks that has helped in building this
                website.</p>
            <ul>
                <li>Django</li>
                <li>Django Web Framework</li>
                <li>Pdf Miner 3k</li>
                <li>Requests</li>
                <li>React Framework</li>
                <li>Bootstrap 4</li>
                <li>Django-Jchart</li>
            </ul>
        </div>


    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>