<!doctype html>
<html lang="en">
<head>
    <title>Edit Syllabus</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--<link rel="stylesheet" type="text/css" href="../../../static/templates/css/main.css">-->
    <link rel="stylesheet" href="../../static/homeapp/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../../static/owl.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../static/owl.png">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-style">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-brand-text" href="#">
        <img src="../../static/owl.png" width="30px" height="50px" style="margin: 10px">
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/search/searching">Search for Syllabi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../logout/">Logout</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="statsDropDown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Statistics</a>
                <div class="dropdown-menu" aria-labelledby="statsDropDown">
                    <a class="dropdown-item" href="../../stats">Overall Statistics</a>
                    <a class="dropdown-item" href="../../stats/university">University Statistics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="../../stats/analyze">University Analysis</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../about">About</a>
            </li>

        </ul>
    </div>
</nav>


<form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST">
    <div class="container">
        <div class="jumbotron" style="background:transparent !important;margin-bottom: 0px">
            <h1 class="display-3">Edit Syllabus</h1>
            <hr class="my-2">
            <p class="lead">Please edit syllabus information as you see fit.</p>
        </div>
    </div>
    <div class="container" style="margin-top: -30px">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="form-group">
                    <label for="Description"><p class="display-4">Description</p></label>
                    <textarea class="form-control" name="Description" id="Description"
                              rows="10">{{Description}}</textarea>
                </div>
                <div class="form-group">
                    <label for="Topics"><p class="display-4">Topics</p></label>
                    <textarea class="form-control" name="Topics" id="Topics"
                              rows="10">{{Topics}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="professor">Professor Name</label>
                    <input type="text" class="form-control" name="professor" id="professor" aria-describedby="helpId"
                           value="{{professor}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="university">University Name</label>
                    <input type="text" class="form-control" name="university" id="university" aria-describedby="helpId"
                           value="{{university}}">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="subjectname">Subject Name</label>
                    <input type="text" class="form-control" name="subjectname" id="subjectname"
                           aria-describedby="helpId" value="{{subjectname}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                    <label for="tag1">Tag 1</label>
                        <select class="form-control" name="tag1" id="tag1">
                        <option {% if tag1|lower == 'general' %} selected {% endif %}>General</option>
                        <option {% if tag1|lower == "computer architecture" %} selected {% endif %}>Computer Architecture</option>
                        <option {% if tag1|lower == 'networks' %} selected {% endif %}>Networks</option>
                        <option {% if tag1|lower == 'programming languages' %} selected {% endif %}>Programming languages</option>
                        <option {% if tag1|lower == 'hardware' %} selected {% endif %}>Hardware</option>
                        <option {% if tag1|lower == 'software engineering' %} selected {% endif %}>Software Engineering</option>
                        <option {% if tag1|lower == 'operating system' %} selected {% endif %}>Operating System</option>
                        <option {% if tag1|lower == 'theory of computation' %} selected {% endif %}>Theory of Computation</option>
                        <option {% if tag1|lower == 'information systems' %} selected {% endif %}>Information Systems</option>
                        <option {% if tag1|lower == 'database management' %} selected {% endif %}>Database Management</option>
                        <option {% if tag1|lower == 'artifical intelligence' %} selected {% endif %}>Artificial Intelligence</option>
                        <option {% if tag1|lower == 'computer graphics' %} selected {% endif %}>Computer Graphics</option>
                        <option {% if tag1|lower == 'data mining' %} selected {% endif %}>Data Mining</option>
                        <option {% if tag1|lower == 'computer vision' %} selected {% endif %}>Computer Vision</option>
                        <option {% if tag1|lower == 'information assurance and security' %} selected {% endif %}>Information Assurance and Security</option>
                        <option {% if tag1|lower == 'image processing' %} selected {% endif %}>Image processing</option>
                        <option {% if tag1|lower == 'other' %} selected {% endif %}>Other</option>
                        </select>
            </div>
            <div class="col-md-4">
                    <label for="tag2">Tag 2</label>
                         <select class="form-control" name="tag2" id="tag2">
                        <option></option>
                        <option {% if tag2|lower == 'general' %} selected {% endif %}>General</option>
                        <option {% if tag2|lower == "computer architecture" %} selected {% endif %}>Computer Architecture</option>
                        <option {% if tag2|lower == 'networks' %} selected {% endif %}>Networks</option>
                        <option {% if tag2|lower == 'programming languages' %} selected {% endif %}>Programming languages</option>
                        <option {% if tag2|lower == 'hardware' %} selected {% endif %}>Hardware</option>
                        <option {% if tag2|lower == 'software engineering' %} selected {% endif %}>Software Engineering</option>
                        <option {% if tag2|lower == 'operating system' %} selected {% endif %}>Operating System</option>
                        <option {% if tag2|lower == 'theory of computation' %} selected {% endif %}>Theory of Computation</option>
                        <option {% if tag2|lower == 'information systems' %} selected {% endif %}>Information Systems</option>
                        <option {% if tag2|lower == 'database management' %} selected {% endif %}>Database Management</option>
                        <option {% if tag2|lower == 'artifical intelligence' %} selected {% endif %}>Artificial Intelligence</option>
                        <option {% if tag2|lower == 'computer graphics' %} selected {% endif %}>Computer Graphics</option>
                        <option {% if tag2|lower == 'data mining' %} selected {% endif %}>Data Mining</option>
                        <option {% if tag2|lower == 'computer vision' %} selected {% endif %}>Computer Vision</option>
                        <option {% if tag2|lower == 'information assurance and security' %} selected {% endif %}>Information Assurance and Security</option>
                        <option {% if tag2|lower == 'image processing' %} selected {% endif %}>Image processing</option>
                        <option {% if tag2|lower == 'other' %} selected {% endif %}>Other</option>
                        </select>
                </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tag3">Tag 3</label>
                    <input type="text" class="form-control" name="tag3" id="tag3" aria-describedby="helpId"
                           value="{{tag3}}">
                </div>
            </div>
        </div>
                <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="sel1">Select year:</label>
                    <select class="form-control" name="dropdown" id="sel1">
                        <option {% if year|lower == 'freshman' %} selected {% endif %}>Freshman</option>
                        <option {% if year|lower == 'sophomore' %} selected {% endif %}>Sophomore</option>
                        <option {% if year|lower == 'junior' %} selected {% endif %}>Junior</option>
                        <option {% if year|lower == 'senior' %} selected {% endif %}>Senior</option>
                        <option {% if year|lower == 'masters' %} selected {% endif %}>Masters</option>
                        <option {% if year|lower == 'doctorate' %} selected {% endif %}>Doctorate</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mb-5">
                <button type="submit" class="btn btn-dark" name="upload" value="save" id="upload">{% csrf_token %}Save
                </button>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</form>
</body>
</html>
<div>

</div>
